{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlanta Food Finder</title>
    <link rel="stylesheet" href="{% static 'restaurants/style.css' %}?v=1.0">

</head>
<body>
    <header>
        {% include 'restaurants/banner.html' %}
        <h1>Atlanta Food Finder</h1>
        <nav>
            <ul>
                <li><a href="{% url 'login' %}" id="loginLink">User Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h2>Discover the Best Restaurants in Atlanta</h2>
            <p>Search for restaurants by name, cuisine, rating, and distance.</p>
            <a href="{% url 'map' %}" class="explore-now" id="exploreButton">Explore Now</a>


        </section>


        <section class="features">
            <h3>Features</h3>
            <ul>
                <li>Filter by Cuisine Type</li>
                <li>Sort by Ratings</li>
                <li>Find Nearby Locations</li>
                <li>User Reviews and Recommendations</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Atlanta Food Finder. All rights reserved.</p>
    </footer>

    <script src="{% static 'restaurants/script.js' %}"></script>
</body>
</html>
